<div class="list-page color-white" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url( <%= @list.photo.attached? ? cl_image_path(@list.photo.key) : 'https://images.unsplash.com/photo-1535016120720-40c646be5580?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80' %>)">

  <%= render 'nav' %>

  <div class="m-5">

    <div class='d-flex justify-content-between mb-3'>
      <h1> <%= @list.name %></h1>

      <div>
        <%= link_to new_list_bookmark_path(@list) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>

    <% if @movies.present? %>
      <%= render 'movie_card', movies: @movies %>
    <% else %>
      <%= "This list is empty. Add some flicks by clicking on the + in the upper right corner!" %>
    <% end %>

    <div class="my-5">
      <%= link_to "Back", root_path, class: "btn-medium"  %>
    </div>
  </div>

  <div class="mx-3">
     <%= link_to list_path(@list), method: :delete, data: { confirm: "Are you sure?"} do %>
     <i class="fas fa-trash"></i>
     <% end %>
   </div>
</div>
