<div class="m-5">

  <div class='d-flex justify-content-between mb-3'>
    <h1> <%= @list.name %></h1>

    <div>
      <%= link_to new_list_bookmark_path(@list) do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>

  <%= render 'movie_card', movies: @movies %>
  <div class="my-5">
    <%= link_to "Back", root_path, class: "btn-medium"  %>
  </div>
</div>

<div class="mx-3">
   <%= link_to list_path(@list), method: :delete, data: { confirm: "Are you sure?"} do %>
   <i class="fas fa-trash"></i>
   <% end %>
 </div>
